body {
    background-color:grey;
}
.navbar{
    background-color:skyblue;
    color:silver;
}
.form{
    padding: 40px;
}
h1{
    text-align: center;
}

.grade{
    /*margin-left:100px;*/
}
.edit{
    margin-left:10px;
}
